<div class="container">
  <div *ngIf="isAddMovieOn; else templateTableDataMovie">
    <div class="form w-25">
      <div class="form-group">
        <h6>Id</h6>
        <input #txtId class="form-control" placeholder="Movie Id" />
      </div>
      <div class="form-group">
        <h6>Name</h6>
        <input #txtName class="form-control" placeholder="Movie Name" />
      </div>
      <div class="form-group">
        <h6>Showtimes</h6>
        <input
          #txtShowtimes
          class="form-control"
          placeholder="Movie Showtimes"
        />
      </div>
      <div class="form-group">
        <h6>Theatres</h6>
        <input #txtTheatres class="form-control" placeholder="Movie Theatres" />
      </div>
      <div class="form-group">
        <h6>Price</h6>
        <input #txtPrice class="form-control" placeholder="Ticket Price" />
      </div>
    </div>

    <button
      (click)="
        AddNewMovie(
          txtId.value,
          txtName.value,
          txtShowtimes.value,
          txtTheatres.value,
          txtPrice.value
        )
      "
      class="btn btn-primary my-3"
    >
      Add New Movie
    </button>
    <button (click)="showTableData()" class="btn btn-secondary my-3 ml-3">
      Back
    </button>
  </div>
</div>

<ng-template #templateTableDataMovie>
  <h3 class="text-center display-4 m-5">Admin UI</h3>
  <div class="text-right">
    <button (click)="showModalAddMovie()" class="btn btn-primary my-3">
      Add New Movie
    </button>
  </div>
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Showtimes</th>
      <th>Theatres</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr
        [ngClass]="{ 'bg-dark text-light': i % 2 == 0 }"
        *ngFor="let movie of movieArr; let i = index"
      >
        <td>{{ movie.id }}</td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.showtimes }}</td>
        <td>{{ movie.theatres }}</td>
        <td>{{ movie.price }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
