.seat {
  background-color: gainsboro;
  width: 40px;
  height: 40px;
  margin: 8px;
}

.selectingSeat {
  background-color: green;
  color: white;
}

.selectedSeat {
  background-color: gray;
  color: white;
  width: 40px;
  height: 40px;
  margin: 16px;
}
